body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  overflow: hidden;
}

.window {
  position: absolute;
  display: inline-block;
  left: 60%;
  bottom: 15%;
  width: 450px;
  background: #00ff0010;
  border: 1px solid #00ff0060;
  font-family: "Consolas";
  box-shadow: 0px 0px 15px 1px rgba(0,255,0,0.3);
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.ship {
  margin: 2px;
  display: block;
  width: 100%;
}

.name, .pos, .tgt, .atk, .hp {
  padding: 5px;
}

.name {
  color: #aaffaa;
  font-size: 130%;
}

.pos, .tgt, .hp {
  color: #ffffff;
}

.hp:before {
  content : "HP: ";
  color: #808080;
}

.tgt:before {
  content : "Moving to ";
  color: #808080;
}

.atk {
  color : #ff3333;
}

.atk:before {
  content : "Attacking ";
  color: #808080;
}