body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  overflow: hidden;
}

.window {
  position: absolute;
  display: inline-block;
  left: 60%;
  bottom: 15%;
  width: 450px;
  background: #00ff0010;
  border: 1px solid #00ff0060;
  font-family: "Consolas";
  box-shadow: 0px 0px 15px 1px rgba(0,255,0,0.3);
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.title {
  position: absolute;
  left: 30%;
  top: 15%;
  font-family: "Segoe UI";
  font-size: 300%;
  font-weight: bold;
  color: #ffffff;
}

ul.menu {
  position: absolute;
  display: inline-block;
  left: 20%;
  bottom: 15%;
  list-style: none;
}

.menu li {
  margin-top: 15px;
}

.btn {
  font-family: "Consolas";
  font-size: 130%;
  color: #ffffff;
  text-decoration: none;
  padding: 3px;
}

.btn:hover {
  color: hsl(207,100%,80%);
  background-color: hsl(207,24%,16%);
  box-shadow: 0px 0px 7px 7px hsl(207,24%,16%);
}

.btn:hover:after {
  content: " <";
}

.fullscreen {
  position: absolute;
  display: inline-block;
  left: 5%;
  bottom: 5%;
  font-family: "Consolas";
  font-size: 130%;
  color: #ffffff;
}

.fullscreen label {
  margin-left: 10px;
}

.ship {
  margin: 2px;
  display: block;
  width: 100%;
}

.name, .pos, .tgt, .atk, .hp {
  padding: 5px;
}

.name {
  color: #aaffaa;
  font-size: 130%;
}

.pos, .tgt, .hp {
  color: #ffffff;
}

.hp:before {
  content: "HP: ";
  color: #808080;
}

.tgt:before {
  content: "Moving to ";
  color: #808080;
}

.atk {
  color: #ff3333;
}

.atk:before {
  content: "Attacking ";
  color: #808080;
}